<h1>Stupid coaching</h1>

<div class="quotebox question">
  <p>"<%= params[:question] %>"</p>
  <p><i>-You</i></p>
</div>

<div class="quotebox answer">
  <p>"<%= @answer %>"</p>
  <p><i>-Your coach</i></p>
</div>


<%# <a href="/ask">Ask another question</a> %>
<%= link_to "Ask another question", "/ask" %>
